@media print {
  /* Hide the URL in the header and footer */
  @page {
    margin: 0;
  }

  body::after {
    content: none;
  }
}

tr{
  margin-top: -5px;
  font-size: 12px;
}
td{
  margin-top: -5px;
}